<!-- Begin Page Content -->
<div class="container-fluid">

<!-- Page Heading -->
<h1 class="h3 mb-2 text-gray-800">Услуги</h1>
                    

<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-body">
        <div class="row">
                <div class="col-sm-12 col-md-6">
                    <div class="dataTables_length" id="dataTable_length">
                        <label>Показать 
                            <select name="dataTable_length" aria-controls="dataTable" class="custom-select custom-select-sm form-control form-control-sm">
                                <option value="10">10</option>
                                <option value="25">25</option>
                                <option value="50">50</option>
                                <option value="100">100</option>
                            </select> 
                            строк</label>
                    </div>
                </div>

                <div class="col-sm-12 col-md-6">
                    <div id="dataTable_filter" class="dataTables_filter">
                        <label>Поиск:
                            <input type="search" class="form-control form-control-sm" placeholder="" aria-controls="dataTable">
                        </label>
                    </div>
                </div>
            </div>                          

            <div class="my-2"></div>

            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Наименование</th>
                            <th>Стоимость, руб</th>
                            <th>Описание</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Замена или установка абонентской розетки (за исключением оптической), за услугу</td>
                            <td>8.64</td>
                            <td>Для физ. лиц (с учетом НДС)</td>
                        </tr>
                        <tr>
                            <td>Демонтаж проводки (за исключением оптического волокна), за 1 метр</td>
                            <td>1.20</td>
                            <td>Для физ. лиц (с учетом НДС)</td>
                        </tr>
                        <tr>
                            <td>Перенос оптической розетки, за услугу</td>
                            <td>30.24</td>
                            <td>Для физ. лиц (с учетом НДС)</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
                <!-- /.container-fluid -->
</div>
            <!-- End of Main Content -->