<!-- Begin Page Content -->
<div class="container-fluid">

<!-- Page Heading -->
<h1 class="h3 mb-2 text-gray-800">Заявки</h1>

<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-body">
        <div class="row">
                <div class="col-sm-12 col-md-4">
                    <div class="dataTables_length" id="dataTable_length">
                        <label>Показать 
                            <select name="dataTable_length" aria-controls="dataTable" class="custom-select custom-select-sm form-control form-control-sm">
                                <option value="10">10</option>
                                <option value="25">25</option>
                                <option value="50">50</option>
                                <option value="100">100</option>
                            </select> 
                            строк</label>
                    </div>
                </div>

                <div class="col-sm-12 col-md-4">
                    <label>Фильтровать по статусу
                    <select class="custom-select" id="inputGroupSelect02">
                        <option selected>Выбрать...</option>
                        <option value="1">Активная</option>
                        <option value="2">Завершена</option>
                    </select>
                    </label>
                    
                    <a href="#" class="btn btn-primary btn-icon-split">
                        <span class="icon text-white-60">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-repeat" viewBox="0 0 16 16">
                                <path d="M11.534 7h3.932a.25.25 0 0 1 .192.41l-1.966 2.36a.25.25 0 0 1-.384 0l-1.966-2.36a.25.25 0 0 1 .192-.41zm-11 2h3.932a.25.25 0 0 0 .192-.41L2.692 6.23a.25.25 0 0 0-.384 0L.342 8.59A.25.25 0 0 0 .534 9z"/>
                                <path fill-rule="evenodd" d="M8 3c-1.552 0-2.94.707-3.857 1.818a.5.5 0 1 1-.771-.636A6.002 6.002 0 0 1 13.917 7H12.9A5.002 5.002 0 0 0 8 3zM3.1 9a5.002 5.002 0 0 0 8.757 2.182.5.5 0 1 1 .771.636A6.002 6.002 0 0 1 2.083 9H3.1z"/>
                            </svg>
                        </span>
                    </a>
                </div>

                <div class="col-sm-12 col-md-4">
                    <div id="dataTable_filter" class="dataTables_filter">
                        <label>Поиск:
                            <input type="search" class="form-control form-control-sm" placeholder="" aria-controls="dataTable">
                        </label>
                    </div>
                </div>
        </div>                          

            <div class="my-2"></div>

            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Абонент</th>
                            <th>Сотрудник</th>
                            <th>Услуга</th>
                            <th>Материалы</th>
                            <th>Статус</th>
                            <th>Дата заявки</th>
                            <th>Дата закрытия заявки</th>
                            <th width="12%"></th>  
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Петров Василий Иванович</td>
                            <td>Сидоров Сергей Александрович</td>
                            <td>Установка телефона</td>
                            <td>RG-12</td>
                            <td>Активный</td>
                            <td>10.05.2023</td>
                            <td></td>
                            <td>
                                <a href="#" class="btn btn-success btn-icon-split" data-toggle="modal" data-target="#InfoModal">
                                    <span class="icon text-white-50">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" fill="currentColor" class="bi bi-info-lg" viewBox="0 0 16 16">
                                            <path d="m9.708 6.075-3.024.379-.108.502.595.108c.387.093.464.232.38.619l-.975 4.577c-.255 1.183.14 1.74 1.067 1.74.72 0 1.554-.332 1.933-.789l.116-.549c-.263.232-.65.325-.905.325-.363 0-.494-.255-.402-.704l1.323-6.208Zm.091-2.755a1.32 1.32 0 1 1-2.64 0 1.32 1.32 0 0 1 2.64 0Z"/>
                                        </svg>
                                    </span>
                                </a>

                                <a href="#" class="btn btn-primary btn-icon-split" data-toggle="modal" data-target="#EditModal">
                                    <span class="icon text-white-50">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
                                            <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
                                        </svg>
                                    </span>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>Петров Василий Иванович</td>
                            <td>Сидоров Сергей Александрович</td>
                            <td>Установка телефона</td>
                            <td>RG-12</td>
                            <td>Активный</td>
                            <td>10.05.2023</td>
                            <td></td>
                            <td>
                                <a href="#" class="btn btn-success btn-icon-split" data-toggle="modal" data-target="#InfoModal">
                                    <span class="icon text-white-50">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" fill="currentColor" class="bi bi-info-lg" viewBox="0 0 16 16">
                                            <path d="m9.708 6.075-3.024.379-.108.502.595.108c.387.093.464.232.38.619l-.975 4.577c-.255 1.183.14 1.74 1.067 1.74.72 0 1.554-.332 1.933-.789l.116-.549c-.263.232-.65.325-.905.325-.363 0-.494-.255-.402-.704l1.323-6.208Zm.091-2.755a1.32 1.32 0 1 1-2.64 0 1.32 1.32 0 0 1 2.64 0Z"/>
                                        </svg>
                                    </span>
                                </a>

                                <a href="#" class="btn btn-primary btn-icon-split" data-toggle="modal" data-target="#EditModal">
                                    <span class="icon text-white-50">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
                                            <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
                                        </svg>
                                    </span>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>Петров Василий Иванович</td>
                            <td>Сидоров Сергей Александрович</td>
                            <td>Установка телефона</td>
                            <td>RG-12</td>
                            <td>Активный</td>
                            <td>10.05.2023</td>
                            <td></td>
                            <td>
                                <a href="#" class="btn btn-success btn-icon-split" data-toggle="modal" data-target="#InfoModal">
                                    <span class="icon text-white-50">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" fill="currentColor" class="bi bi-info-lg" viewBox="0 0 16 16">
                                            <path d="m9.708 6.075-3.024.379-.108.502.595.108c.387.093.464.232.38.619l-.975 4.577c-.255 1.183.14 1.74 1.067 1.74.72 0 1.554-.332 1.933-.789l.116-.549c-.263.232-.65.325-.905.325-.363 0-.494-.255-.402-.704l1.323-6.208Zm.091-2.755a1.32 1.32 0 1 1-2.64 0 1.32 1.32 0 0 1 2.64 0Z"/>
                                        </svg>
                                    </span>
                                </a>

                                <a href="#" class="btn btn-primary btn-icon-split" data-toggle="modal" data-target="#EditModal">
                                    <span class="icon text-white-50">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
                                            <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
                                        </svg>
                                    </span>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
    </div>

</div>
<!-- /.container-fluid -->

</div>
<!-- End of Main Content -->

            <form class="modal fade" id="InfoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">

                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Информация об абоненте</h5>
                            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                        </div>

                        <div class="modal-body">
                            <div class="form-group<div class="card o-hidden border-0 shadow-lg my-5">

                             <div class="form-group">
                                    <label for="exampleFormControlTextarea1">ФИО</label>
                                    <input type="input" class="form-control form-control-user">
                             </div>
                             
                             <div class="form-group">
                                    <label for="exampleFormControlTextarea1">Телефон</label>
                                    <input type="input" class="form-control form-control-user">
                             </div>

                             <div class="form-group">
                                    <label for="exampleFormControlTextarea1">Адрес</label>
                                    <input type="input" class="form-control form-control-user">
                             </div>

                            </div>
                        </div>
                    </div>
                </div>
            </form>

            <form class="modal fade" id="EditModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">

                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Редактировать заявку</h5>
                            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                        </div>

                        <div class="modal-body">
                            <div class="form-group<div class="card o-hidden border-0 shadow-lg my-5">
          
                             <div class="form-group">
                                    <label for="exampleFormControlTextarea1">Статус</label>
                                    <select class="custom-select" id="inputGroupSelect02">
                                        <option value="1">Активная</option>
                                        <option value="2">Завершена</option>
                                    </select>
                             </div>
                             
                             <div class="form-group">
                                    <label for="exampleFormControlTextarea1">Дата закрытия</label>
                                    <input type="input" class="form-control form-control-user">
                             </div>

                             <div class="form-group">
                                    <label for="exampleFormControlTextarea1">Материалы</label>
                                    <input type="input" class="form-control form-control-user">
                             </div>

                             <a href="#" class="btn btn-success btn-user btn-block">Обновить</a>

                            </div>
                        </div>
                    </div>
                </div>
            </form>