@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p><a asp-area="Guest" asp-controller="Guest" asp-action="Index">ОБЛАСТЬ ГОСТЯ</a></p>
    <p><a asp-area="Guest" asp-controller="Guest" asp-action="Services">Услуги</a></p>
    <p><a asp-area="Guest" asp-controller="Guest" asp-action="Tariff">Тарифные планы</a></p>
    @*<p><a asp-area="Operator" asp-controller="Tariff" asp-action="Index">Тарифные планы</a></p>
    <p><a asp-area="Operator" asp-controller="Orders" asp-action="Orders">Заявки</a></p>*@
    <p><a asp-area="Operator" asp-controller="Abonent" asp-action="Abonent">Абоненты</a></p>
    <p><a asp-area="Admin" asp-controller="Tariff" asp-action="Tariff">Тарифные планы</a></p>
    <p><a asp-area="Admin" asp-controller="Types_tariff" asp-action="Types_tariff">Виды тарифных планов</a></p>
    <p><a asp-area="Admin" asp-controller="Services" asp-action="Services">Услуги</a></p>
    <p><a asp-area="Admin" asp-controller="Materials" asp-action="Materials">Материалы/оборудование</a></p>
    <p><a asp-area="Admin" asp-controller="Employee" asp-action="Employee">Сотрудники</a></p>
</div>


