<!-- Begin Page Content -->
<div class="container-fluid">

<!-- Page Heading -->
<h1 class="h3 mb-2 text-gray-800">Тарифные планы</h1>
@*<p class="mb-4">Компания «Белтелеком» предоставляет список тарифных планов для физических и юридических лиц, включая в себя услуги телефонной связи, телевидение, доступ в интернет, умный дом, максифон и пакеты услуг.</p>*@

<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-body">
        <div class="row">
                <div class="col-sm-12 col-md-4">
                    <div class="dataTables_length" id="dataTable_length">
                        <label>Показать 
                            <select name="dataTable_length" aria-controls="dataTable" class="custom-select custom-select-sm form-control form-control-sm">
                                <option value="10">10</option>
                                <option value="25">25</option>
                                <option value="50">50</option>
                                <option value="100">100</option>
                            </select> 
                            строк</label>
                    </div>
                </div>

                <div class="col-sm-12 col-md-4">
                    <label>Фильтровать по виду
                    <select class="custom-select" id="inputGroupSelect02">
                        <option selected>Выбрать...</option>
                        <option value="1">Интернет</option>
                        <option value="2">Телевидение</option>
                        <option value="3">Телефония</option>
                        <option value="4">Пакет услуг</option>
                        <option value="5">Умный дом</option>
                        <option value="6">Максифон</option>
                    </select>
                    </label>
                    
                    <a href="#" class="btn btn-primary btn-icon-split">
                        <span class="icon text-white-60">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-repeat" viewBox="0 0 16 16">
                                <path d="M11.534 7h3.932a.25.25 0 0 1 .192.41l-1.966 2.36a.25.25 0 0 1-.384 0l-1.966-2.36a.25.25 0 0 1 .192-.41zm-11 2h3.932a.25.25 0 0 0 .192-.41L2.692 6.23a.25.25 0 0 0-.384 0L.342 8.59A.25.25 0 0 0 .534 9z"/>
                                <path fill-rule="evenodd" d="M8 3c-1.552 0-2.94.707-3.857 1.818a.5.5 0 1 1-.771-.636A6.002 6.002 0 0 1 13.917 7H12.9A5.002 5.002 0 0 0 8 3zM3.1 9a5.002 5.002 0 0 0 8.757 2.182.5.5 0 1 1 .771.636A6.002 6.002 0 0 1 2.083 9H3.1z"/>
                            </svg>
                        </span>
                    </a>
                </div>

                <div class="col-sm-12 col-md-4">
                    <div id="dataTable_filter" class="dataTables_filter">
                        <label>Поиск:
                            <input type="search" class="form-control form-control-sm" placeholder="" aria-controls="dataTable">
                        </label>
                    </div>
                </div>
        </div>                          

            <div class="my-2"></div>

            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Наименование</th>
                            <th>Стоимость</th>
                            <th>Описание</th>
                            <th>Вид тарифного плана</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Рекорд 200</td>
                            <td>45.45</td>
                            <td>Высокоскоростной нелимитируемый доступ в Интернет.</td>
                            <td>Интернет</td>
                        </tr>
                        <tr>
                            <td>Премьера промо + премиум</td>
                            <td>19.00</td>
                            <td>Тариф для абонентов не пользующихся услугами телефонной связи. Просмотр не менее 70 телеканалов как в режиме реального времени, так и с использованием функций отложенного просмотра.</td>
                            <td>Телевидение</td>
                        </tr>
                        <tr>
                            <td>Телефонная связь</td>
                            <td>3.73</td>
                            <td>Телефонное соединение между абонентами в автоматическом режиме.</td>
                            <td>Телефония</td>
                        </tr>
                    </tbody>
                </table>
            </div>
    </div>

</div>
<!-- /.container-fluid -->

</div>
<!-- End of Main Content -->
